<div class="weather-card col-xs-3" {{action "showBreakdown"}} style="cursor: pointer;">
  <div class="weather-card-day">
    {{format-date-day-of-week weatherObject.date}}
  </div>
  <div class="weather-card-date">
    {{format-date-month-number weatherObject.date}}/{{format-date-day weatherObject.date}}
  </div>
  {{weather-icon weatherId=weatherObject.weatherId}}
  <div class="weather-card-temperature">
    {{weatherObject.averageTemp}}&deg;
  </div>
</div>

{{weather-detail-modal weatherObject=weatherObject}}
