<div class="container-fluid" style="padding: 0px;">
  <div class="main-container">
    <div class="picture-area row">
      <div class="current-location col-xs-12 col-lg-8" {{action "promptLocation"}} style="cursor: pointer;">
        {{locationCity}}
        <span class="current-location-state">
          , {{locationState}}
        </span>
      </div>
      <div class="current-time col-xs-12 col-lg-4">
        {{format-time currentDate}}
        <span class="current-time-detail">
          {{format-time-suffix currentDate}}
        </span>
      </div>
    </div>
    <div class="weather-area">
      <div class="weather-area-content row">
        <div class="current-weather col-xs-12 col-lg-4" {{action "showBreakdown"}} style="cursor: pointer;">
          <div class="temperature">
            <span class="temperature-number">
              {{currentWeather.temp}}
            </span>
            <span class="temperature-degree">
              &deg;
            </span>
          </div>
          {{weather-icon weatherId=currentWeather.weatherId}}
          <br>
          <div class="current-date">
            {{format-date-month currentDate}} {{format-date-day-ending currentDate}}
          </div>
          <div class="current-weather-details">
            <span class="low-temp">
              {{currentWeather.tempMin}}&deg;
            </span>
            <span class="temp-separator">
              /
            </span>
            <span class="high-temp">
              {{currentWeather.tempMax}}&deg;
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-lg-8">
          <div class="row">
            {{#each weathers as |weatherObject|}}
              {{weather-card weatherObject=weatherObject}}
            {{/each}}
          </div>
        </div>
      </div>
      <div class="weather-area-picture">
      </div>
    </div>
  </div>
</div>

{{weather-detail-modal weatherObject=currentWeather}}

<div class="modal fade" id="change-location-modal"tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Enter a New Location</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="locationInput">Location</label>
          {{input value=newLocation action="lookupLocation" class="form-control" id="locationInput" placeholder="Enter a new Location"}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" {{action "lookupLocation"}}>Okay</button>
      </div>
    </div>
  </div>
</div>
